{% extends "base.html" %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-4 border-bottom">

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="fs-5 me-3 py-2 link-body-emphasis text-white" href="/">В главное меню</a>
      </nav>

      <p class="text-custom">------------------------------------------------------------------</p>
      <p class="text-custom">------------------------------------------------</p>

      <p class="fs-2 py-3 fw-light text-white">Solve & Choice by HSE</p>
      <p class="text-custom">-</p>
      <p class="text-custom">-</p>
      <p class="text-custom">-</p>

      <p class="d-flex align-items-center text-white">
        <img src="static/images/logo.svg" alt="mascot" width="60">
      </p>

    </div>

    <main class="px-5">
        <img src="static/images/polina.jpg" alt="photo" width="250">
        <img src="static/images/dasha.jpg" alt="photo" width="243">
        <img src="static/images/sergey.jpg" alt="photo" width="218">
        <img src="static/images/nikita.jpg" alt="photo" width="222">
        <img src="static/images/george.jpg" alt="photo" width="262">
    </main>

    <div class="pricing-header p-3 pb-md-4 mx-auto">
        <p class="text-custom">-</p>
        <p class="fs-4 fw-light text-white">Разработчики:<a href="https://t.me/prossserpinee" class="text-white">Козлова Полина</a>, <a href="https://t.me/leaeleae" class="text-white">Дарья Скворцова</a>, <a href="https://t.me/SerPal238" class="text-white">Сергей Плаксин</a>, <a href="https://t.me/bazozavr2402" class="text-white">Никита Петров</a>, <a href="https://t.me/Parsiffal_02" class="text-white">Георгий Давыдов</a></p>
        <p class="fs-4 fw-light text-white">Приложение разработано студентами 3 курса образовательной программы "Бизнес-информатика" в рамках курсовой работы</p>
         <p class="fs-4 fw-light text-white">Научный руководитель: <a href="https://www.hse.ru/org/persons/46747923" class="text-white">Улитин Борис Игоревич</a></p>
        <p class="text-custom">-</p>
        <p class="fs-4 fw-light text-white">По любым вопросам и предложениям можно написать нам в Telegram!)</p>
    </div>

</header>

{% endblock %}

