{% extends "base.html" %}

{% block title %}
Эксперт
{% endblock %}

{% block body %}

<header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <p class="text-custom">-</p>
      <h1 class="display-1 fw-bold text-white">Оценивание сохранено!</h1>
        <p class="fs-1 py-3 fw-light text-white">Благодарим за участие в оценивании в качестве эксперта</p>
        <p></p>
    </div>

    <main style="text-align:center">
        <img src="static/images/logo.svg" alt="photo" width="350">
    </main>

    <p class="text-custom">-</p>

    <div style="text-align:center">
        <a class="fs-2 btn btn-lg btn-light rounded-pill" href="/" role="button" style="width: 600px; height: 80px;">Главное меню</a>
    </div>


</header>

{% endblock %}